header {
    text-align: center;
}
.makeSpace {
    margin-right: 200%; ;
}
.container{
    float: left;
    display: inline;
    position: relative;
    border: 2px solid black;
    padding-right: 200%;
}
